mqtt_influx_db_basic/flow.txt
[{"id":"11cb9cbf.73d1e3","type":"tab","label":"my_first_flow","disabled":false,"info":""},{"id":"a1277b25.71d278","type":"mqtt in","z":"11cb9cbf.73d1e3","name":"/site/topic","topic":"/site/topic","qos":"2","datatype":"json","broker":"572f479.c7835b8","nl":false,"rap":true,"rh":0,"x":190,"y":220,"wires":[["c0d89102.5b038","5466f156.91256"]]},{"id":"c0d89102.5b038","type":"change","z":"11cb9cbf.73d1e3","name":"preapre_fields","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t        \"flag\": msg.payload.b,\t        \"discrete\": msg.payload.i,\t        \"continuous\": msg.payload.r,\t        \"message\": msg.payload.s\t    },{\t        \"identity\": msg.payload.t\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["41812cb6.f36524","cd9f4718.dc41e8"]]},{"id":"41812cb6.f36524","type":"influxdb out","z":"11cb9cbf.73d1e3","influxdb":"ca2c41a7.8b913","name":"write_to_influxDB","measurement":"example","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":220,"wires":[]},{"id":"5466f156.91256","type":"debug","z":"11cb9cbf.73d1e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":300,"wires":[]},{"id":"cd9f4718.dc41e8","type":"debug","z":"11cb9cbf.73d1e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"572f479.c7835b8","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ca2c41a7.8b913","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"harrys_first_db","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]