mqtt_influx_db_ESP01_sensor/mqtt_influxdb_ESP01_sensor.txt
[{"id":"3d90151c.ce53aa","type":"tab","label":"ESP01_Test","disabled":false,"info":""},{"id":"3d377c9f.aa5ad4","type":"mqtt in","z":"3d90151c.ce53aa","name":"","topic":"sensors","qos":"2","datatype":"utf8","broker":"572f479.c7835b8","nl":false,"rap":true,"rh":0,"x":110,"y":240,"wires":[["ce7fcf21.588c8"]]},{"id":"ce7fcf21.588c8","type":"change","z":"3d90151c.ce53aa","name":"format_for_influx","rules":[{"t":"set","p":"payload","pt":"msg","to":"($s := $split(payload,' ');\t$tag1_key := $s[0];\t$tag1_value := $s[1];\t$tag2_key := $s[2];\t$tag2_value := $s[3];\t$tag3_key := $s[4];\t$tag3_value := $s[5];\t$field1_key := $s[6];\t$field1_value := $number($s[7]);\t$field2_key := $s[8];\t$field2_value := $number($s[9]);\t[\t    {\t    $field1_key : $field1_value,\t    $field2_key : $field2_value\t    },\t    {\t    $tag1_key : $tag1_value,\t    $tag2_key : $tag2_value,\t    $tag3_key : $tag3_value\t    }\t];\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["17573b3e.16fd15"]]},{"id":"17573b3e.16fd15","type":"debug","z":"3d90151c.ce53aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":240,"wires":[]},{"id":"572f479.c7835b8","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]